* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
}

body {
    font-size: 16px; 
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background:rgb(252, 249, 249);
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 70%; 
    margin: auto;
    padding: 20px 0;
}

nav img {
    width: 100px; 
    height: auto;
    margin-right: 0px; 
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(15, 14, 14);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover{
    color: rgb(23, 191, 90);
}


.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
   font-size: 50px;
   color: black;
   margin-bottom: 20px;
}

.detel{
    margin: 8%;
    color: rgb(0, 0, 0);
}

.detel h1{
    font-size: 50px;
    color: rgb(5, 5, 6);
    margin-bottom: 30px;
}

span{
    color: yellow;
}
.detel p{
    color: dimgray;
    line-height: 22px;
}
 .detel a{
    background: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
 }

 .images {
    width: 50%; 
    height: auto;
    position: relative;
    bottom: 200px; 
    left: 600px;
    border-radius: 10px; 
}


